<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN"
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' threshold="debug" debug="true">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="DEBUG"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yy/MM/dd HH:mm:ss:SSS}] %5p %c{2}: %m%n"/>
        </layout>
    </appender>
    <appender name="DRFILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${ssm.root}/WEB-INF/logs/ssm.log"/>
        <param name="append" value="true"/>
        <param name="threshold" value="DEBUG"/>
        <param name="encoding" value="UTF-8"/>
        <param name="datePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yy/MM/dd HH:mm:ss:SSS}] %5p %c{2}: %m%n"/>
        </layout>
    </appender>
    <logger name="com.accelerator" additivity="true">
        <level class="org.apache.log4j.Level" value="INFO"/>
    </logger>
    <root>
        <level class="org.apache.log4j.Level" value="INFO"/>
        <appender-ref ref="DRFILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>